<div class="wedding-details">
  <div class="wedding-details__content">
    <h1>Justin &amp; Laura Get Married</h1>

    <table class="wedding-details__table">
      <tbody>
        <tr class="wedding-details__table-tr">
          <th class="wedding-details__table-header">Where?</th>
          <td class="wedding-details__table-td animate-slide-in">Ken-Wo Golf Club, New Minas, Nova Scotia</td>
        </tr>
        <tr class="wedding-details__table-tr">
          <th class="wedding-details__table-header">When?</th>
          <td class="wedding-details__table-td animate-slide-in">
            August 19 2017 <br /> Ceremony at <span class="text-yellow">4 o'clock</span>
          </td>
        </tr>
        <tr class="wedding-details__table-tr">
          <th class="wedding-details__table-header">What?</th>
          <td class="wedding-details__table-td animate-slide-in">
            Gettin' Married followed by Dinner
            <span class="text-lt-purple">|</span> Drinks
            <span class="text-lt-purple">|</span> and Dancing
          </td>
        </tr>
        <tr class="wedding-details__table-tr">
          <th class="wedding-details__table-header">Why?</th>
          <td class="wedding-details__table-td animate-slide-in">Seemed like a good idea at the time.</td>
        </tr>
      </tbody>
    </table>

    <div class="wedding-details__accommodations">
      <h4>Accommodations</h4>
      <p class="animate-slide-in">
        Rooms at the Slumber Inn in New Minas are available at a reduced rate. To get the reduced rate please make your reservation by phone 
        and mention that you are booking for the Ferguson-Doyle wedding.
      </p>
      <a class="text-yellow" href="http://slumberinn.ca/" target="_blank">Slumber Inn</a><br>
      <a class="text-yellow" href="tel:+18009145005">1-800-914-5005</a>
      
      <p>
        There are also lots of Bed and Breakfasts in the area, if that's your thing. Check out the area!
        <a class="text-yellow" target="_blank" href="https://www.google.ca/maps/search/accommodation/@45.1146356,-64.4432436,11.5z">Map</a>
      </p>
    </div>
  </div>
</div>
