<div class="wedding-details">
  <div class="wedding-details__content" style="">
    <h1>Justin &amp; Laura Get Married</h1>

    <table class="wedding-details__table">
      <tbody>
        <tr class="wedding-details__table-tr">
          <th class="wedding-details__table-header">Where?</th>
          <td class="wedding-details__table-td">Ken-Wo Golf Club, New Minas, Nova Scotia</td>
        </tr>
        <tr class="wedding-details__table-tr">
          <th class="wedding-details__table-header">When?</th>
          <td class="wedding-details__table-td">
            August 19 2017 <br /> Ceremony at <span class="text-yellow">4 o'clock</span>
          </td>
        </tr>
        <tr class="wedding-details__table-tr">
          <th class="wedding-details__table-header">What?</th>
          <td class="wedding-details__table-td">
            Gettin' Married followed by Dinner
            <span class="text-lt-purple">|</span> Drinks
            <span class="text-lt-purple">|</span> and Dancing
          </td>
        </tr>
        <tr class="wedding-details__table-tr">
          <th class="wedding-details__table-header">Why?</th>
          <td class="wedding-details__table-td">Seemed like a good idea at the time.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <img class="wedding-details__image" src="/assets/img/front-steps-sm.jpg" alt="" />
  </div>
  <div class="wedding-details__after-image-filler">

  </div>
</div>
