<div class="guest">

  <div *ngIf="!editing">
    <div class="guest__info">
      <span class="guest__name">{{ guest?.name ? guest.name : 'New Guest' }}</span>
      <br>
      <span class="guest__meal">{{ guest?.selectedMeal !== null ? mealOptions[guest?.selectedMeal].name : 'No meal selected' }}</span>
    </div>
    <div class="guest__buttons">
      <button class="guest__edit-btn button button--small" (click)="onClickEdit()">
        Edit
      </button>
      <button class="guest__delete-btn button error button--small" (click)="onClickDelete()">
        X
      </button>
    </div>
  </div>

  <div *ngIf="editing">
    <div class="guest__info">
      <div class="form-group">
        <div class="form-label">Name:</div>
        <div class="form-input">
          <input type="text" placeholder="New Guest" [(ngModel)]="guestNameEdit">
        </div>
      </div>
      <div class="form-group">
        <div class="form-label">Meal:</div>
        <div class="form-input">
          <select [(ngModel)]="guestMealEdit">
            <option *ngFor="let meal of mealOptions" [value]="meal.id">{{ meal.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="guest__buttons">
      <button class="button success button--small" (click)="onClickSave()">
        Save
      </button>
    </div>
  </div>
</div>
