.guest {
    background-color: $purple-dark;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    max-width: 100%;
    padding: 1.5em;
    margin: 1em;
    white-space: nowrap;

    &__info {
        width: 100%;
        white-space: normal;
        word-break: break-all;

        &--edit {

        }
    }

    &__buttons {
        width: 100%;
        text-align: right;
    }

    &__edit-btn {}
}