[Unit]
Description=Wedding Angular and Node App

[Service]
ExecStart=node /home/ec2-user/web_root/index.js --port=80
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ec2-user/web_root

[Install]
WantedBy=multi-user.target