$white: white;
$purple-light: #a668eb;
$purple: #5f4389;
$purple-dark: #55357f;
$yellow: #ffee36;
$success: #66aa66;
$error: #ff6961;


@mixin lightOnDark {
    background-color: $purple;
    color: $white;
}

@mixin darkOnLight {
    background-color: $white;
    color: $purple;
}

.text-success {
    color: $success;
}

.text-error {
    color: $error;
}