.text-center {
    text-align: center;
}

.dark-on-light {
    background-color: $white;
    color: $purple;
}

.light-on-dark {
    background-color: $purple;
    color: $white;
}

.text-yellow {
    color: $yellow;
}

.text-lt-purple {
    color: $purple-light;
}