.text-center {
    text-align: center;
}

.dark-on-light {
    background-color: $white;
    color: $purple;
}

.light-on-dark {
    background-color: $purple;
    color: $white;
}

.text-yellow {
    color: $yellow;
}

.text-lt-purple {
    color: $purple-light;
}

.mt-5 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.ml-5 {margin-left:5px}
.ml-10 {margin-left:10px}
.mb-5 {margin-bottom:5px}
.mb-10 {margin-bottom:10px}

