.animate-bob {
    position: relative;
    top:0;
    animation-name: bob;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.animate-slide-in {
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;   
}

.animate-fade-in {
    animation-name: fade-in;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes bob {
    0% {top: 0}
    10% {top: 10px}
    20% {top: 0}
    100% {top: 0}
}

@keyframes slide-in {
    0% {opacity: 0; transform: translateX(1em)}
    100% {opacity: 1; transform: translateX(0)}
}

@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}

.animate-delay-250 { animation-delay: 250ms; }
.animate-delay-500 { animation-delay: 500ms; }
.animate-delay-750 { animation-delay: 750ms; }
.animate-delay-1 { animation-delay: 1s; }