<div class="rsvp">
  
    <div *ngIf="!loggedIn">
        <p>
            Please enter the token included with your wedding invite.
        </p>
        <input type="text" [(ngModel)]="token">
        <button class="button" (click)="onClickLogin()">Enter</button>
    </div>

    <div *ngIf="loggedIn">
        <h3>Welcome, {{ user.name }}</h3>
        <div *ngFor="let guest of user.guests">
            <jl-guest [user]="user" [guest]="guest"></jl-guest>
        </div>
        <button *ngIf="user.guests.length < user.maxGuests" class="button" (click)="addGuest()">
            Add Guest +
        </button>
    </div>

</div>