.splash-screen {

  height: 100%;
  @include darkOnLight;

  &__splash-img-wrapper {
    height: 85%;
  }

  &__splash-img {

    max-height: 100%;
    max-width: 100%;
    padding: 2%;

  }

  &__arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 1em;
  }

  &__arrow-icon {
    font-size: 65px;
    color: $purple;
  }
}
