<div class="gifts">
  <div class="gifts__content">
    <h1>Registry</h1>

    <div class="gifts__details animate-slide-in">
      <p>
        We have been in a loving relationship for 7 years, and through those years we have accumulated everything we need to make
        our house a home! This is why we have decided to open a honeymoon registry instead of a traditional registry.
      </p>
      <p>
        We have signed up for a registry at Honeyfund, which you can visit by clicking the link below.
        We're going to spend a week in Iceland
      </p>
      <a class="text-yellow" href="https://www.honeyfund.com/wedding/DoyleFerguson2017" target="_blank" rel="noopener noreferrer">
        https://www.honeyfund.com/wedding/DoyleFerguson2017
      </a>
    </div>
  </div>
</div>
