<div class="gifts">
  <div class="gifts__content">
    <h1>Registry</h1>

    <div class="gifts__details animate-slide-in">
      <p>
        We have been in a loving relationship for 7 years, and through those years we have accumulated everything we need to make
        our house a home! This is why we have decided to open a honeymoon registry instead of a traditional registry.
      </p>
      <p>
        We have signed up for a registry at Honeyfund, which you can visit by clicking the link below.
        We're going to spend a week in <span class="text-yellow">Iceland</span>, travelling the island to sightsee and food-eat. Having everyone at our
        wedding is going to make it such a wonderful occasion, and we appreciate you helping us have an incredible experience travelling for the first time
        as we begin our lives together as husband and wife.
      </p>
      <p>
        We have multiple items you can help us out with, or just whatever you feel! Honeyfund can do credit card directly online, 
        as well as an offline cash or cheque option. We thank you for helping us celebrate this momentous occasion!
      </p>
      <p>
        We'll be sure to send you a picture and love from Iceland!
      </p>
      <a class="text-yellow" href="https://www.honeyfund.com/wedding/DoyleFerguson2017" target="_blank" rel="noopener noreferrer">
        https://www.honeyfund.com/wedding/DoyleFerguson2017
      </a>
    </div>
  </div>
</div>
