@import './styles/_elements.fonts';
@import './styles/_elements.colors';
@import './styles/_ui.helpers';
@import './styles/_ui.animations';


// Components
@import './app/app.component';
@import './app/components/splash-screen/splash-screen.component';
@import './app/components/wedding-details/wedding-details.component';

.app-container { 
   animation-duration: 1s;
   animation-name: fade;
}

@keyframes fade{
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}