<div *ngIf="visible" class="menu-button">
  <div class="menu-button__wrapper">
    <button class="menu-button__button" (click)="openMenu()">
      <i class="menu-button__icon fa fa-bars"></i>
    </button>
  </div>
</div>
<div *ngIf="visible" class="menu" [ngClass]="{'menu--open': open}">
  <div class="menu-button__wrapper">
    <button class="menu-button__button menu-button__button--invert" (click)="closeMenu()">
      <i class="menu-button__icon fa fa-times"></i>
    </button>
  </div>
  <div>
    <ul class="menu__route-list">
      <li *ngFor="let route of routes" class="menu__route" [routerLink]="route.link" routerLinkActive="active" (click)="onClickRoute()">
        <a>{{ route.label }}</a>
      </li>
    </ul>
  </div>
</div>
